body {
  margin: 0;
  background: #111;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#gameContainer {
  position: relative;
}
#gameCanvas {
  background: #999;
  display: block;
}
#touchControls {
  position: absolute;
  bottom: 10px;
  right: -100px;
}
#touchControls button {
  font-size: 24px;
  padding: 10px;
  margin: 2px;
}