body {
  margin: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-container {
  position: relative;
}

#gameCanvas {
  display: block;
  background: #aaa;
  image-rendering: pixelated;
}

#controls {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

#controls button {
  font-size: 24px;
  padding: 10px;
}
