
body {
  margin: 0;
  background: #111;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

#startScreen {
  margin-top: 100px;
}

#gameCanvas {
  background: #444;
  display: none;
}

#controls {
  margin-top: 10px;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 5px;
}
